.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 376px;
  height: 666px;
  z-index: 100;
  box-shadow: 0 0 20px #4f4d4d;
  background: #f7f7f5;
  border-radius: 3px;
}

/* #app .container-view {
  padding: 20px;
} */
